NAME: xxx
IS_CONTAINER: 1
ACTION: yyy
DESCRIPTION: yyy
ADDITIONAL_DESC: Additional details. If a container, this is the closed description
WEIGHT: 1
IN_ROOM: Foyer
CONTAINS: this,is,ignored,unless,its,a,container
OPEN: 1
OPEN_DESC: will only be used if this is a container
TRIGGERS: yyy
DEPENDS_ON: yyy